.listcard
{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 35px;
    max-height: 300px;
    overflow: auto;
    scroll-behavior: auto;
}
mat-card
{
    border-radius: 15px;
}

mat-icon
{
    cursor: pointer;
}
.space{
    flex: 1 1 auto;
}
button{
    margin: 20px;
}
mat-list-item{
    padding: 3px;
}